<section id="nosotros" class="py-20 px-5  bg-black text-center">
    <h2 class="text-3xl font-bold mb-8 text-white">Nosotros</h2>
    <p class="max-w-3xl mx-auto text-gray-300 mb-10">
        Somos un estudio de arquitectura y diseño interior comprometido con transformar espacios en experiencias. Nos
        enfocamos en entender profundamente a cada cliente, sus valores, y estilo de vida, para crear ambientes únicos,
        funcionales y estéticos.
    </p>

    <div class="max-w-4xl mx-auto grid md:grid-cols-3 gap-8 text-left">
        <div>
            <h3 class="text-xl font-semibold text-white mb-2">Misión</h3>
            <p class="text-gray-300 text-sm">En Escala Interior diseñamos espacios que reflejan el estilo de vida y la
                esencia de las personas. Ofrecemos un servicio cercano y personalizado. Acompañamos cada etapa,
                asegurando soluciones funcionales, estéticas y emocionales.</p>
        </div>
        <div>
            <h3 class="text-xl font-semibold text-white mb-2">Visión</h3>
            <p class="text-gray-300 text-sm">Ser reconocidos transformando espacios en experiencias únicas. Aspiramos a
                acercar el diseño de calidad a más personas, sin perder la calidez, ni la creatividad con quienes viven
                cada espacio.</p>
        </div>
        <div>
            <h3 class="text-xl font-semibold text-white mb-2">Valores</h3>
            <p class="text-gray-300 text-sm">Orden, cercanía, compromiso, pasión por los retos y creatividad.</p>
        </div>
    </div>

</section>